<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>城市选择</title>
	<link rel="stylesheet" href="../../assets/css/activity.css">

</head>
<body>
<section id="citiesList"></section>
<script src="http://webapi.amap.com/maps?v=1.3&key=8224af31a04092c16ab431feedb93229"></script>
	<script src="../../bundle.js" ></script>
	<script src="../../lib/js/zepto.js"></script>
	<script src="../../lib/js/sort.js"></script>
	<script src="../../lib/js/china.pinyin.js"></script>
</body>
</html>