<!DOCTYPE html>
<html lang="en" style="min-heihgt: 100%; background-color: #e1e9ef">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>活动列表</title>
	<link rel="stylesheet" href="../../assets/css/iosselect.css">
	<link rel="stylesheet" href="../../assets/css/activity.css">
	<script src="../../../js/stores/shence.js"></script>

</head>
<body>
<section id="activiesList"></section><!-- RN4DEjuGIyIKevQNrnpgcNRqMGGFG13p -->
	<script src="http://api.map.baidu.com/api?v=2.0&ak=BZTHSRV4dkUyYZTjaDxntntmnCkDHmv2"></script>
	<script src="../../bundle.js" ></script>
	
</body>
</html>